pre, .pre  {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}


pre  code {
  display: block;
  padding: 1.3rem;
  white-space: pre;
  font-size: .875rem;
  line-height: 1.5;
  font-family: 'Fira Code', 'Cascadia Code', monospace;
}

pre {
  background-color: #222;
  color: #ddd;
  white-space: pre;

  hyphens: none;
  position: relative;

  border-radius: 6px;
  margin: 1rem 0;
}
